<div class="navigation-bar">
    <div><img class="logo" src="../../assets/img/logo.png" alt=""></div>
    <div class="navigation-bar__step">
        Wybierz datę i cel podróży
    </div>
    <div class="navigation-bar__arro">🡆</div>
    <div class="navigation-bar__step">
        Wybierz wariant i dodaj bagaż
    </div>
    <div class="navigation-bar__arrow">🡆</div>
    <div class="navigation-bar__step">
        Uzupełnij dane pasażerów
    </div>
    <div class="navigation-bar__arrow">🡆</div>
    <div class="navigation-bar__step">
        Wybierz miejsca
    </div>
    <div class="navigation-bar__arrow">🡆</div>
    <div class="navigation-bar__step">
        Odbierz bilet i leć!
    </div>
</div>