.navigation-bar {
  height: 10vh;
  background-color: #bdb9c6;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  padding: 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  &__step {
    color: #e2e1e6;
  }
}

.logo {
  width: auto;
  height: 8vh;
  margin: 0 20px;
}

.done {
  color: #807a7a;
}

.active {
  color: #2286a9;
  font-weight: bold;
}
