<div class="navigation-bar">
    <a routerLink="/main-page"><img class="logo" src="../../assets/img/logo_blue2.png" alt=""></a>
    <div class="navigation-bar__step done" id="navbarStep1">
        Wybierz datę i cel podróży
    </div>
    <div class="navigation-bar__arrow" id="arrow1">🡆</div>
    <div class="navigation-bar__step" id="navbarStep2">
        Wybierz wariant i dodaj bagaż
    </div>
    <div class="navigation-bar__arrow" id="arrow2">🡆</div>
    <div class="navigation-bar__step" id="navbarStep3">
        Uzupełnij dane pasażerów
    </div>
    <div class="navigation-bar__arrow" id="arrow3">🡆</div>
    <div class="navigation-bar__step" id="navbarStep4">
        Wybierz miejsca
    </div>
    <div class="navigation-bar__arrow" id="arrow4">🡆</div>
    <div class="navigation-bar__step" id="navbarStep5">
        Odbierz bilet i leć!
    </div>
    <select class="currency-container" id="currencyContainer">
        <option value="pln" #pln class="currency-option" selected>PLN</option>
        <option value="eur" #eur class="currency-option">EUR</option>
        <option value="usd" #usd class="currency-option">USD</option>
    </select>
</div>