<app-navigation-bar></app-navigation-bar>

<h1 class="component-title">Podsumowanie rezerwacji</h1>
<p class="summary__subtitle">Dziękujemy za założenie rezerwacji.</p>
<div class="summary__container" id="passengersDeatils">
        <p class="summary__subtitle">Liczba pasażerów:</p>
        <p class="summary__text">
                {{ total }}
        </p>
</div>
<!-- <div class="summary__container">
        <p class="summary__subtitle">Wybrane miejsca:</p>
        <p class="summary__text">
                {{ seats }}
        </p>
</div> -->
<div class="summary__container">
        <p class="summary__subtitle">Do zapłaty:</p>
        <p class="summary__text">
                {{ totalPrice }} {{ currency }}
        </p>
</div>
<div class="details"></div>