<app-navigation-bar></app-navigation-bar>

<h1 class="component-title">Podsumowanie rezerwacji</h1>
<p class="summary__subtitle">Dziękujemy za założenie rezerwacji.</p>
<div class="summary__container" id="passengersDeatils">
        <p class="summary__text">
                Liczba pasażerów: {{ total }}
        </p>
        <p class="summary__text">
                Dane pasażerów:
        </p>
</div>
<div class="summary__container">
        <p class="summary__text">
                Wybrane miejsca: {{ seats }}
        </p>
</div>
<div class="summary__container">
        <p class="summary__text">
                Do zapłaty: {{ totalPrice }} {{ currency }}
        </p>
</div>
<div class="details"></div>