<app-navigation-bar></app-navigation-bar>
<div class="wrapper">
  <p>Pasażerowie: {{ adultsNumber }} dorosły, {{ childrenNumber }} dziecko, {{ babiesNumber }} niemowlęta</p>
  <p>Pola obowiązkowe (*)</p>

  <div id="adultPassengersContainer">
    <p>Pasażerowie dorośli</p>
  </div>

  <div id="childrenPassengersContainer">
    <p>Dzieci</p>
  </div>

  <div id="babiesPassengersContainer">
    <p>Niemowlęta</p>
  </div>

  <p>Dane kontaktowe</p>
  <label for="emailAddress">Adres e-mail</label>
  <input type="text" #emailAddress required>
  <label for="phoneNumber">Nr telefonu</label>
  <input type="text" #phoneNumber required>

  <input type="checkbox" id="rulesAgreement" name="yes" value="agreed" checked>
  <label for="rulesAgreement">Zapoznałem/-am się i akceptuję Warunki Taryfy (w szczególności warunki zmiany/zwrotu
    biletu), Regulamin Świadczenia Usług Drogą Elektroniczną, Politykę Prywatności oraz Warunki przewozu.*</label><br>

</div>

<a routerLink="/seat-choice"><button>Kontynuuj
    🡺</button></a>
<!-- <a routerLink="/seat-choice"><button (click)="savePersonalData()">Kontynuuj
      🡺</button></a> -->

<app-summary-box></app-summary-box>
<router-outlet></router-outlet>