.plane-container {
  max-width: 70vw;
}

.plane-svg {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 60%;
  height: 95vh;
}

.seat-selected {
  fill: #2286a9;
}

.seat-occupied {
  fill: #807a7a;
}

.seats-container {
  cursor: pointer;
}
