.plane-container {
  position: relative;
  max-width: 70vw;
  overflow: hidden;
}

.plane-svg {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 60%;
  height: 95vh;
}

.seat-selected {
  fill: #2286a9;
}
