<app-navigation-bar></app-navigation-bar>
<h1 class="component-title">Wybór miejsc w samolocie</h1>
<div class="wrapper">
  <div class="information-container">
    <div class="seat-number__container">Wybrane miejsca:
      <span id="seatsField"></span>
    </div>
  </div>
  <div class="plane-container" id="countryPlane">
    <svg id="Warstwa_1" data-name="Warstwa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 595.28 826.6"
      class="country-plane-svg">
      <defs></defs>
      <rect id="_2a" data-name=" 2a" class="cls-1" x="183.53" y="131.82" width="31.59" height="31.59" rx="3.76" />
      <rect id="_2b" data-name=" 2b" class="cls-1 seat-occupied" x="218.28" y="131.82" width="31.59" height="31.59"
        rx="3.76" />
      <rect id="_2c" data-name=" 2c" class="cls-1" x="342.58" y="131.82" width="31.59" height="31.59" rx="3.76" />
      <rect id="_2d" data-name=" 2d" class="cls-1" x="377.33" y="131.82" width="31.59" height="31.59" rx="3.76" />
      <rect id="_3a" data-name=" 3a" class="cls-1" x="183.53" y="166.57" width="31.59" height="31.59" rx="3.76" />
      <rect id="_3b" data-name=" 3b" class="cls-1" x="218.28" y="166.57" width="31.59" height="31.59" rx="3.76" />
      <rect id="_4a" data-name=" 4a" class="cls-1" x="183.53" y="201.32" width="31.59" height="31.59" rx="3.76" />
      <rect id="_4b" data-name=" 4b" class="cls-1" x="218.28" y="201.32" width="31.59" height="31.59" rx="3.76" />
      <rect id="_3c" data-name=" 3c" class="cls-1" x="342.58" y="166.57" width="31.59" height="31.59" rx="3.76" />
      <rect id="_3d" data-name=" 3d" class="cls-1" x="377.33" y="166.57" width="31.59" height="31.59" rx="3.76" />
      <rect id="_4c" data-name=" 4c" class="cls-1" x="342.58" y="201.32" width="31.59" height="31.59" rx="3.76" />
      <rect id="_4d" data-name=" 4d" class="cls-1" x="377.33" y="201.32" width="31.59" height="31.59" rx="3.76" />
      <rect id="_5a" data-name=" 5a" class="cls-1" x="183.53" y="235.89" width="31.59" height="31.59" rx="3.76" />
      <rect id="_5b" data-name=" 5b" class="cls-1" x="218.28" y="235.89" width="31.59" height="31.59" rx="3.76" />
      <rect id="_6a" data-name=" 6a" class="cls-1" x="183.53" y="270.64" width="31.59" height="31.59" rx="3.76" />
      <rect id="_6b" data-name=" 6b" class="cls-1" x="218.28" y="270.64" width="31.59" height="31.59" rx="3.76" />
      <rect id="_5c" data-name=" 5c" class="cls-1" x="342.58" y="235.89" width="31.59" height="31.59" rx="3.76" />
      <rect id="_5d" data-name=" 5d" class="cls-1" x="377.33" y="235.89" width="31.59" height="31.59" rx="3.76" />
      <rect id="_6c" data-name=" 6c" class="cls-1" x="342.58" y="270.64" width="31.59" height="31.59" rx="3.76" />
      <rect id="_6d" data-name=" 6d" class="cls-1" x="377.33" y="270.64" width="31.59" height="31.59" rx="3.76" />
      <rect id="_7a" data-name=" 7a" class="cls-1" x="183.53" y="305.39" width="31.59" height="31.59" rx="3.76" />
      <rect id="_7b" data-name=" 7b" class="cls-1" x="218.28" y="305.39" width="31.59" height="31.59" rx="3.76" />
      <rect id="_8a" data-name=" 8a" class="cls-1" x="183.53" y="340.13" width="31.59" height="31.59" rx="3.76" />
      <rect id="_8b" data-name=" 8b" class="cls-1" x="218.28" y="340.13" width="31.59" height="31.59" rx="3.76" />
      <rect id="_7c" data-name=" 7c" class="cls-1" x="342.58" y="305.39" width="31.59" height="31.59" rx="3.76" />
      <rect id="_7d" data-name=" 7d" class="cls-1" x="377.33" y="305.39" width="31.59" height="31.59" rx="3.76" />
      <rect id="_8c" data-name=" 8c" class="cls-1 seat-occupied" x="342.58" y="340.13" width="31.59" height="31.59"
        rx="3.76" />
      <rect id="_8d" data-name=" 8d" class="cls-1 seat-occupied" x="377.33" y="340.13" width="31.59" height="31.59"
        rx="3.76" />
      <rect id="_9a" data-name=" 9a" class="cls-1" x="183.53" y="374.71" width="31.59" height="31.59" rx="3.76" />
      <rect id="_9b" data-name=" 9b" class="cls-1" x="218.28" y="374.71" width="31.59" height="31.59" rx="3.76" />
      <rect id="_10a" data-name=" 10a" class="cls-1" x="183.53" y="409.46" width="31.59" height="31.59" rx="3.76" />
      <rect id="_10b" data-name=" 10b" class="cls-1" x="218.28" y="409.46" width="31.59" height="31.59" rx="3.76" />
      <rect id="_9c" data-name=" 9c" class="cls-1" x="342.58" y="374.71" width="31.59" height="31.59" rx="3.76" />
      <rect id="_9d" data-name=" 9d" class="cls-1" x="377.33" y="374.71" width="31.59" height="31.59" rx="3.76" />
      <rect id="_10c" data-name=" 10c" class="cls-1" x="342.58" y="409.46" width="31.59" height="31.59" rx="3.76" />
      <rect id="_10d" data-name=" 10d" class="cls-1" x="377.33" y="409.46" width="31.59" height="31.59" rx="3.76" />
      <rect id="_11a" data-name=" 11a" class="cls-1" x="183.53" y="444.2" width="31.59" height="31.59" rx="3.76" />
      <rect id="_11b" data-name=" 11b" class="cls-1" x="218.28" y="444.2" width="31.59" height="31.59" rx="3.76" />
      <rect id="_12a" data-name=" 12a" class="cls-1 seat-occupied" x="183.53" y="478.95" width="31.59" height="31.59"
        rx="3.76" />
      <rect id="_12b" data-name=" 12b" class="cls-1" x="218.28" y="478.95" width="31.59" height="31.59" rx="3.76" />
      <rect id="_11c" data-name=" 11c" class="cls-1" x="342.58" y="444.2" width="31.59" height="31.59" rx="3.76" />
      <rect id="_11d" data-name=" 11d" class="cls-1" x="377.33" y="444.2" width="31.59" height="31.59" rx="3.76" />
      <rect id="_12c" data-name=" 12c" class="cls-1" x="342.58" y="478.95" width="31.59" height="31.59" rx="3.76" />
      <rect id="_12d" data-name=" 12d" class="cls-1" x="377.33" y="478.95" width="31.59" height="31.59" rx="3.76" />
      <rect id="_13a" data-name=" 13a" class="cls-1" x="183.53" y="513.53" width="31.59" height="31.59" rx="3.76" />
      <rect id="_13b" data-name=" 13b" class="cls-1" x="218.28" y="513.53" width="31.59" height="31.59" rx="3.76" />
      <rect id="_14a" data-name=" 14a" class="cls-1" x="183.53" y="548.27" width="31.59" height="31.59" rx="3.76" />
      <rect id="_14b" data-name=" 14b" class="cls-1" x="218.28" y="548.27" width="31.59" height="31.59" rx="3.76" />
      <rect id="_13c" data-name=" 13c" class="cls-1" x="342.58" y="513.53" width="31.59" height="31.59" rx="3.76" />
      <rect id="_13d" data-name=" 13d" class="cls-1" x="377.33" y="513.53" width="31.59" height="31.59" rx="3.76" />
      <rect id="_14c" data-name=" 14c" class="cls-1" x="342.58" y="548.27" width="31.59" height="31.59" rx="3.76" />
      <rect id="_14d" data-name=" 14d" class="cls-1 seat-occupied" x="377.33" y="548.27" width="31.59" height="31.59"
        rx="3.76" />
      <rect id="_15a" data-name=" 15a" class="cls-1" x="183.53" y="582.85" width="31.59" height="31.59" rx="3.76" />
      <rect id="_15b" data-name=" 15b" class="cls-1" x="218.28" y="582.85" width="31.59" height="31.59" rx="3.76" />
      <rect id="_16a" data-name=" 16a" class="cls-1" x="183.53" y="617.6" width="31.59" height="31.59" rx="3.76" />
      <rect id="_16b" data-name=" 16b" class="cls-1" x="218.28" y="617.6" width="31.59" height="31.59" rx="3.76" />
      <rect id="_15c" data-name=" 15c" class="cls-1" x="342.58" y="582.85" width="31.59" height="31.59" rx="3.76" />
      <rect id="_15d" data-name=" 15d" class="cls-1" x="377.33" y="582.85" width="31.59" height="31.59" rx="3.76" />
      <rect id="_16c" data-name=" 16c" class="cls-1" x="342.58" y="617.6" width="31.59" height="31.59" rx="3.76" />
      <rect id="_16d" data-name=" 16d" class="cls-1" x="377.33" y="617.6" width="31.59" height="31.59" rx="3.76" />
      <rect id="_17a" data-name=" 17a" class="cls-1" x="183.53" y="652.34" width="31.59" height="31.59" rx="3.76" />
      <rect id="_17b" data-name=" 17b" class="cls-1" x="218.28" y="652.34" width="31.59" height="31.59" rx="3.76" />
      <rect id="_18a" data-name=" 18a" class="cls-1" x="183.53" y="687.09" width="31.59" height="31.59" rx="3.76" />
      <rect id="_18b" data-name=" 18b" class="cls-1" x="218.28" y="687.09" width="31.59" height="31.59" rx="3.76" />
      <rect id="_17c" data-name=" 17c" class="cls-1" x="342.58" y="652.34" width="31.59" height="31.59" rx="3.76" />
      <rect id="_17d" data-name=" 17d" class="cls-1" x="377.33" y="652.34" width="31.59" height="31.59" rx="3.76" />
      <rect id="_18c" data-name=" 18c" class="cls-1" x="342.58" y="687.09" width="31.59" height="31.59" rx="3.76" />
      <rect id="_18d" data-name=" 18d" class="cls-1" x="377.33" y="687.09" width="31.59" height="31.59" rx="3.76" />
      <rect id="_1d" data-name=" 1d" class="cls-1" x="377.33" y="97.07" width="31.59" height="31.59" rx="3.76" />
      <rect id="_1c" data-name=" 1c" class="cls-1" x="342.58" y="97.07" width="31.59" height="31.59" rx="3.76" />
      <rect id="_1b" data-name=" 1b" class="cls-1" x="218.28" y="97.07" width="31.59" height="31.59" rx="3.76" />
      <rect id="_1a" data-name=" 1a" class="cls-1" x="183.53" y="97.07" width="31.59" height="31.59" rx="3.76" />
      <text class="cls-4" transform="translate(292.8 117.82)">
        1
      </text>
      <text class="cls-4" transform="translate(292.53 152.49)">
        2
      </text>
      <text class="cls-4" transform="translate(292.66 187.43)">
        3
      </text>
      <text class="cls-4" transform="translate(292.8 222.18)">
        4
      </text>
      <text class="cls-4" transform="translate(292.53 256.91)">
        5
      </text>
      <text class="cls-4" transform="translate(292.41 291.63)">
        6
      </text>
      <text class="cls-4" transform="translate(292.66 326.34)">
        7
      </text>
      <text class="cls-4" transform="translate(292.53 360.94)">
        8
      </text>
      <text class="cls-4" transform="translate(292.41 395.93)">
        9
      </text>
      <text class="cls-4" transform="translate(287.56 430.71)">
        10
      </text>
      <text class="cls-4" transform="translate(288.86 465.42)">
        11
      </text>
      <text class="cls-4" transform="translate(287.56 500.04)">
        12
      </text>
      <text class="cls-4" transform="translate(287.56 534.63)">
        13
      </text>
      <text class="cls-4" transform="translate(287.56 569.35)">
        14
      </text>
      <text class="cls-4" transform="translate(287.3 604.2)">
        15
      </text>
      <text class="cls-4" transform="translate(287.3 638.66)">
        16
      </text>
      <text class="cls-4" transform="translate(287.3 673.51)">
        17
      </text>
      <text class="cls-4" transform="translate(287.3 708.23)">
        18
      </text>
      <g id="text1228-9-8-3-5-8">
        <text class="cls-4" transform="translate(194.33 739.32)">
          A
        </text>
      </g>
      <g id="text1228-1-1-1-5-0-3">
        <text class="cls-4" transform="translate(229.81 739.32)">
          B
        </text>
      </g>
      <g id="text1228-13-3-3-5-1-1">
        <text class="cls-4" transform="translate(353.08 739.31)">
          C
        </text>
      </g>
      <g id="text1228-1-2-2-5-7-8-8">
        <text class="cls-4" transform="translate(388.97 739.31)">
          D
        </text>
      </g>
      <g id="text1228-9-8-3-5-8-2" data-name="text1228-9-8-3-5-8">
        <text class="cls-4" transform="translate(194.33 86.85)">
          A
        </text>
      </g>
      <g id="text1228-1-1-1-5-0-3-2" data-name="text1228-1-1-1-5-0-3">
        <text class="cls-4" transform="translate(229.81 86.85)">
          B
        </text>
      </g>
      <g id="text1228-13-3-3-5-1-1-2" data-name="text1228-13-3-3-5-1-1">
        <text class="cls-4" transform="translate(353.08 86.85)">
          C
        </text>
      </g>
      <g id="text1228-1-2-2-5-7-8-8-2" data-name="text1228-1-2-2-5-7-8-8">
        <text class="cls-4" transform="translate(388.29 86.85)">
          D
        </text>
      </g>
      <rect class="cls-6" x="163.59" y="34.84" width="39.88" height="16.75" />
      <g id="text2940-2">
        <text class="cls-3" transform="translate(165.85 48.25) scale(1.12 1)">
          EXIT
        </text>
      </g>
      <rect class="cls-6" x="388.97" y="34.84" width="39.88" height="16.75" />
      <g id="text2940-2-2" data-name="text2940-2">
        <g>
          <text class="cls-3" transform="translate(391.24 48.25) scale(1.12 1)">
            EXIT
          </text>
        </g>
      </g>
      <rect class="cls-6" x="167.87" y="787.1" width="39.88" height="16.75" />
      <g id="text2940-2-3" data-name="text2940-2">
        <g>
          <text class="cls-3" transform="translate(170.14 800.51) scale(1.12 1)">
            EXIT
          </text>
        </g>
      </g>
      <rect class="cls-6" x="393.26" y="787.1" width="39.88" height="16.75" />
      <g id="text2940-2-4" data-name="text2940-2">

        <text class="cls-3" transform="translate(395.52 800.51) scale(1.12 1)">
          EXIT
        </text>

      </g>
      <rect class="cls-2" x="443.46" width="8.02" height="826.6" />
      <polygon class="cls-2" points="152.54 826.6 144.52 826.6 144.52 303.8 144.52 0 152.54 0 152.54 826.6" />
      <path class="cls-5" d="M143.79,595.57,0,650.31V426.7L143.79,313.34Z" transform="translate(0 -15.71)" />
      <path class="cls-5" d="M451.48,595.57l143.8,54.74V426.7Q523.37,370,451.48,313.34Z"
        transform="translate(0 -15.71)" />
    </svg>
  </div>
</div>

<div class="seat-choice__popup" id="occupiedPopUp">
  <p>Miejsce niedostępne</p>
  <button class="seat-choice__button" (click)="hidePopup()">X</button>
</div>
<div class="seat-choice__popup" id="tooMuchPopUp">
  <p>Przekroczono dopuszczalną ilość miejsc</p>
  <button class="seat-choice__button" (click)="hidePopup()">X</button>
</div>
<div class="seat-choice__popup" id="notEnoughPopUp">
  <p>Proszę wybrać miejsca dla wszystkich pasażerów</p>
  <button class="seat-choice__button" (click)="hidePopup()">X</button>
</div>



<app-summary-box></app-summary-box>
<button class="btn-summarybox" (click)="checkIfAllChosen()">Kontynuuj 🡺</button>

<router-outlet></router-outlet>