@import '../variables.scss';
@import '../general.scss';

.wrapper {
  max-width: 70%;
}

.plane-container {
  position: fixed;
  bottom: 0;
  right: 20%;
  max-width: 45vw;
  overflow-y: scroll;
  height: 75%;
  display: flex;
  justify-content: center;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    // border-radius: 0 8px 8px 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    // border-radius: 0 8px 8px 0;
  }
}

.country-plane-svg {
  width: 40vw;
  cursor: pointer;
}

.europe-plane-svg {
  width: 40vw;
  cursor: pointer;
}

.world-plane-svg {
  height: 150vh;
  cursor: pointer;
  margin-right: 5vw;

}

.seat-selected {
  fill: #2286a9;
}

.seat-occupied {
  fill: #807a7a;
  cursor: not-allowed;
}

.seats-container {
  cursor: pointer;
}

.seat-number-container {
  width: 300px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 28px;
}

.information-container {
  margin-top: 10vh;
}
