@import './variables.scss';

.component-title {
  font-family: Montserrat-Regular, Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-grey;
  text-align: center;
  margin-top: 15vh;
}

.closed {
  display: none;
}

.minusPlusButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  font-size: 36px;
  border: none;
  color: #2286a9;
  cursor: pointer;
  outline: none;
}

.btn-summarybox {
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  width: 16vw;
  background-color: $main-color;
  z-index: 1;
  border: none;
  height: 50px;
  color: white;
  font-family: Montserrat-Regular, Montserrat;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #1d7595;
  }

  &:disabled {
    background-color: $dark-grey;

    &:hover {
      background-color: $dark-grey;
    }
  }
}


@media (max-width: 1200px) {
  .btn-summarybox {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    margin: 30px 0;
  }
}

@media (max-width: 450px) {
  .btn-summarybox {
    width: 80%;
  }
}
