@import '../variables.scss';
@import '../general.scss';

.dissappear {
  display: none;
}

label {
  cursor: pointer;
}

.form {
  width: 30vw;
  background-color: #00f;
}

.cities-container {
  padding: 22px;
  width: 30vw;

  &__item {
    padding: 12px 24px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: #2286a9;
      color: #fff;
    }

    &>.radio {
      display: none;
    }


    &-selected {
      background-color: #e2e1e6;
      padding: 12px 24px;
      border-radius: 8px;
      margin-bottom: 8px;
      color: #807a7a;

      &:hover {

        cursor: pointer;
      }
    }
  }

  &__item-group {
    background-color: #e2e1e6;
    color: #807a7a;
    width: 100%;
    display: none;
    border-radius: 8px;
    max-height: 200px;
    pointer-events: none;

    &::-webkit-scrollbar {
      background-color: #e2e1e6;
      width: 8px;
      border-radius: 0 8px 8px 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #2286a9;
      border-radius: 0 8px 8px 0;
    }
  }
}

.active {
  max-height: 200px;
  display: block;
  overflow-y: scroll;
  pointer-events: auto;
  z-index: 1;
}

.date {
  display: flex;
  justify-content: space-evenly;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    font-size: 12px;
    background-color: #e2e1e6;
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #807a7a;

    &:nth-child(1) {
      margin-right: 50px;
    }
  }

  &__wrapper {
    // background-color: #ff0;
    width: 30vw;
    display: flex;
    padding: 22px;
    justify-content: space-evenly;

  }

  &__label {
    text-transform: uppercase;
    text-align: center;
  }

  &__input {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

    &:focus {
      outline: none;

    }

    &::-webkit-datetime-edit {
      margin-right: -40px;
    }

    &::-webkit-calendar-picker-indicator {
      background-image: url("https://img.icons8.com/fluent/48/000000/calendar.png");
      cursor: pointer;
    }
  }
}

.passengers-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
  width: 30vw;
}

.passengers-container__counter {
  display: flex;
  justify-content: space-around;
}

.passengers-counter {
  line-height: 50px;
  font-size: 28px;
  padding: 3px 12px;
  border-radius: 5px;
  background-color: $light-grey;
  width: 50px;
  text-align: center;
}

.passengers-name {
  text-align: center;
  padding: 3px 0 5px 0;
}
