// .dissappear {
//   display: none;
// }

// .container {
//   display: flex;
// }

// .select-box {
//   margin-top: 100px;
//   padding: 32px;
//   display: flex;
//   width: 400px;
//   flex-direction: column;
// }

// .options-container {
//   background-color: #807a7a;
//   color: #fff;
//   width: 100%;
//   opacity: 0;
//   border-radius: 8px;
//   max-height: 200px;
//   pointer-events: none;

//   &::-webkit-scrollbar {
//     width: 10px;
//     background-color: #F5F5F5;
//   }

//   &::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     background-color: #F5F5F5;
//     border-radius: 0 8px 8px 0;
//   }

//   &::-webkit-scrollbar-thumb {
//     background-color: #2286A9;
//     background-image: -webkit-linear-gradient(45deg,
//         rgba(255, 255, 255, .2) 25%,
//         transparent 25%,
//         transparent 50%,
//         rgba(255, 255, 255, .2) 50%,
//         rgba(255, 255, 255, .2) 75%,
//         transparent 75%,
//         transparent);
//     border-radius: 0 8px 8px 0;
//   }
// }

// .selected {
//   background-color: #807a7a;
//   border-radius: 8px;
//   margin-bottom: 8px;
//   color: #fff;
// }

// .options-container.active {
//   max-height: 200px;
//   opacity: 1;
//   overflow-y: scroll;
//   pointer-events: auto;
// }

// .option,
// .selected {
//   padding: 12px 24px;
//   cursor: pointer;
// }

// .option:hover {
//   background-color: #2286a9;
// }

// .select-box label {
//   cursor: pointer;
// }

// .option .radio {
//   display: none;
// }

// .cities-container__item label,
// .cities-container__item {
//   cursor: pointer;
// }


// .cities-container {
//   display: flex;

// }

// .cities-container__group {
//   display: flex;
//   flex-direction: column;
// }

// .cities-container__item,
// .cities-container__item-selected {
//   width: 150px;
//   background-color: rgb(78, 78, 78);
//   color: white;
//   border: 1px solid black;
//   cursor: pointer;
// }

// // // // // // // // // // //
.dissappear {
  display: none;
}

.form-container {
  display: flex;
}

.cities-container {
  padding: 32px;
  display: flex;
  width: 400px;
  flex-direction: column;

  &label {
    cursor: pointer;
  }

  &__item {
    padding: 12px 24px;
    cursor: pointer;

    &:hover {
      background-color: #414b57;
    }

    &>.radio {
      display: none;
    }


    &-selected {
      background-color: #2f3640;
      padding: 12px 24px;
      border-radius: 8px;
      margin-bottom: 8px;
      color: #f5f6fa;

      &:hover {

        cursor: pointer;
      }
    }
  }


  &__item-group {
    background-color: #2f3640;
    color: #f5f6fa;
    width: 100%;
    opacity: 0;
    border-radius: 8px;
    max-height: 200px;
    pointer-events: none;

    &::-webkit-scrollbar {
      background-color: #0d141f;
      width: 8px;
      border-radius: 0 8px 8px 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #525861;
      border-radius: 0 8px 8px 0;
    }
  }
}

.active {
  max-height: 200px;
  opacity: 1;
  overflow-y: scroll;
  pointer-events: auto;
}
