<nav class="nav">
  <a routerLink="/main-page"><img class="nav__logo" src="../../assets/img/logo_blue2.png" alt=""></a>
</nav>
<main class="main">
  <div class="form">
    <h1 class="component-title">Znajdź lot dla siebie</h1>
    <div class="form__container">
      <div class="form__container-item">
        <div id="start" class="cities-container">
          <div class="cities-container__item-selected" id="selected">Miasto wylotu</div>
          <div class="cities-container__item-group" id="citiesContainer">
            <div class="cities-container__item" (click)="getDestinations(cannes.id)">
              <input type="radio" class="radio" id="cannes" name="startCity" #cannes>
              <label for="cannes">Cannes (CEQ)</label></div>
            <div class="cities-container__item" (click)="getDestinations(dubrovnik.id)">
              <input type="radio" class="radio" id="dubrovnik" name="startCity" #dubrovnik>
              <label for="dubrovnik">Dubrovnik (DBV)</label></div>
            <div class="cities-container__item" (click)="getDestinations(katowice.id)">
              <input type="radio" class="radio" id="katowice" name="startCity" #katowice>
              <label for="katowice">Katowice (KTW)</label></div>
            <div class="cities-container__item" (click)="getDestinations(milan.id)">
              <input type="radio" class="radio" id="milan" name="startCity" #milan>
              <label for="milan">Mediolan (MXP)</label></div>
            <div class="cities-container__item" (click)="getDestinations(newyork.id)">
              <input type="radio" class="radio" id="newyork" name="startCity" #newyork>
              <label for="newyork">Nowy Jork (JFK)</label></div>
            <div class="cities-container__item" (click)="getDestinations(poznan.id)">
              <input type="radio" class="radio" id="poznan" name="startCity" #poznan>
              <label for="poznan">Poznań (POZ)</label></div>
            <div class="cities-container__item" (click)="getDestinations(prague.id)">
              <input type="radio" class="radio" id="prague" name="startCity" #prague>
              <label for="prague">Praga (PRG)</label></div>
            <div class="cities-container__item" (click)="getDestinations(toronto.id)">
              <input type="radio" class="radio" id="toronto" name="startCity" #toronto>
              <label for="toronto">Toronto (YYZ)</label></div>
            <div class="cities-container__item" (click)="getDestinations(warsaw.id)">
              <input type="radio" class="radio" id="warsaw" name="startCity" #warsaw>
              <label for="warsaw">Warszawa(WAW)</label></div>
          </div>
        </div>
      </div>
      <div class="form__container-item">
        <div id="options" class="cities-container">
          <div class=" cities-container__item-selected" id="destinationSelected">Wybierz miasto wylotu</div>
        </div>
      </div>
    </div>

    <div class="date__wrapper">
      <div class="date">
        <div class="date__container">
          <label for="startDate" class="date__label">Wylot</label>
          <input type="date" #startDate id="startDate" name="trip-start" [value]="date | date:'yyyy-MM-dd'"
            class="date__input"></div>
        <div class="date__container">
          <label for="endDate" class="date__label">Powrót</label>
          <input type="date" #endDate id="endDate" name="trip-end" class="date__input">
        </div>
      </div>
    </div>
    <div class="passengers-container">
      <div class="passengers-container__item">
        <p class="passengers-name">Dorośli:</p>
        <div class="passengers-container__counter">
          <button (click)="lessAdultPassengers()" class="minusPlusButton">-</button>
          <p class="passengers-counter" id="adult-passengers">{{ adultPassengers }}</p>
          <button (click)="moreAdultPassengers()" class="minusPlusButton">+</button>
        </div>
      </div>
      <div class="passengers-container__item">
        <p class="passengers-name">Dzieci:</p>
        <div class="passengers-container__counter">
          <button (click)="lessChildrenPassengers()" class="minusPlusButton">-</button>
          <p class="passengers-counter" id="adult-passengers">{{ childrenPassengers }}</p>
          <button (click)="moreChildrenPassengers()" class="minusPlusButton">+</button>
        </div>
      </div>
      <div class="passengerss-container__item">
        <p class="passengers-name">Niemowlęta:</p>
        <div class="passengers-container__counter">
          <button (click)="lessBabiesPassengers()" class="minusPlusButton">-</button>
          <p class="passengers-counter" id="adult-passengers">{{ babiesPassengers }}</p>
          <button (click)="moreBabiesPassengers()" class="minusPlusButton">+</button>
        </div>
      </div>
    </div>
    <a routerLink="/details-page">
      <button class="btn" (click)="saveBasicInformation(startDate.value, endDate.value)" id="button" disabled>Lecimy
        ✈</button>
    </a>
  </div>

</main>

<footer class="footer">© 2020 Karolina Stefańczyk</footer>

<router-outlet></router-outlet>