@import '../variables.scss';
@import '../general.scss';

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.details-page-wrapper {
  width: 80%;
}

.travel-option {
  border: 1px solid $dark-grey;
  border-radius: 5px;
  max-width: 30%;
  padding: 1.5vw;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: Montserrat-Regular, Montserrat;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-grey;
    margin-bottom: 10px;
  }

  &__conditions-list {
    list-style-type: none;

    &-item {
      padding: 5px 0;
    }

    &-icon {
      padding-right: 5px;
    }
  }

  &__btn {
    font-family: Montserrat-Regular, Montserrat;
    text-transform: uppercase;
    border: none;
    background-color: $main-color;
    text-align: center;
    width: 90%;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #1d7595;
    }
  }

  &__additional {
    margin-top: 50px;
    font-size: 12px;
    color: $dark-grey;
  }
}

.flight-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__airportAbbr {
    font-size: 32px;
  }
}

.flight-information-wrapper {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.luggage-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.luggage-wrapper__counter {
  display: flex;
  justify-content: space-around;
}

.luggage-counter {
  line-height: 50px;
  font-size: 28px;
  padding: 3px 12px;
  border-radius: 5px;
  background-color: $light-grey;
  width: 50px;
  text-align: center;
}

.luggage-name {
  text-align: center;
  padding: 3px 0 5px 0;
}

.arrow-symbol {
  padding: 0 20px;
}

.deatils-section-title {
  font-family: Montserrat-Regular, Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-grey;
  margin-top: 5vh;
  margin-bottom: 1.5vh;
  text-align: center;
}

.class {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  &__price {
    margin-top: 60px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }

  &__item {
    border: 1px solid $dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: $main-color;
    width: 20vw;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px;

    &:hover {
      background-color: #1d7595;
    }
  }

  &__btn {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .details-page-wrapper {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .travel-option {
    &__conditions-list {
      &-item {
        font-size: 12px;
      }
    }

    &__additional {
      font-size: 10px;
    }
  }
}


@media (max-width: 500px) {
  .flight-information-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .flight-information {
    &__details {
      font-size: 12px;
    }

    &__airportAbbr {
      font-size: 24px;
    }
  }

  .class {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      width: 250px;
    }
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .travel-option {
    max-width: 80%;
    padding: 20px;

    &__additional {
      text-align: center;
    }
  }

  .deatils-section-title {
    font-size: 18px;
  }

  .luggage-wrapper {
    flex-direction: column;
    align-items: center;

    &__counter {
      width: 200px;
      margin: 10px;
    }
  }

  .details-page-wrapper {
    margin-top: 15vh;
  }

}
