<app-navigation-bar></app-navigation-bar>
<div class="details-page-wrapper">
  <h1 class="component-title">Twój lot</h1>
  <!-- Informacje o locie -->
  <div class="flight-information-wrapper">
    <div class="flight-information">
      <div class="flight-information__details">
        <p>{{ startDate }}</p>
        <h2 class="flight-information__airportAbbr">{{ originCity }}</h2>
        <p>{{ startTimeThere }}</p>
      </div>
      <div class="arrow-symbol">⟶</div>
      <div class="flight-information__details">
        <p>{{ startDate }}</p>
        <h2 class="flight-information__airportAbbr">{{ destinationCity }}</h2>
        <p>{{ endTimeThere }}</p>
      </div>
    </div>
    <div class="flight-information">
      <div class="flight-information__details">
        <p>{{ endDate }}</p>
        <h2 class="flight-information__airportAbbr">{{ destinationCity }}</h2>
        <p>{{ startTimeBack }}</p>
      </div>
      <div class="arrow-symbol">⟶</div>
      <div class="flight-information__details">
        <p>{{ endDate }}</p>
        <h2 class="flight-information__airportAbbr">{{ originCity }}</h2>
        <p>{{ endTimeBack }}</p>
      </div>
    </div>
  </div>
  <!-- Klasy -->
  <h2 class="deatils-section-title">Wybierz klasę podróży</h2>
  <div class="class">
    <div class="class__item" #economy id="economy" (click)="saveClass(economy.id)">
      <p class="class__btn" id="economyButton">Economy</p>
    </div>
    <div class=" class__item" #premiumeconomy id="premiumeconomy" (click)="saveClass(premiumeconomy.id)"
      *ngIf="plane !== 'country'">
      <p class="class__btn" id="premiumeconomyButton">Premium
        economy</p>
    </div>
    <div class="class__item" #business id="business" (click)="saveClass(business.id)" *ngIf="plane !== 'country'">
      <p class="class__btn" id="businessButton">Business</p>
    </div>
  </div>
  <!-- Koniec klas -->

  <!-- Taryfy -->
  <h2 class="deatils-section-title">Wybierz wariant podróży</h2>
  <div class="wrapper">
    <div class="travel-option" #basic id="basic">
      <h2 class="travel-option__title">Basic</h2>
      <div class="travel-option__conditions">
        <ul class="travel-option__conditions-list">
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-shopping-bag travel-option__conditions-list-icon"></i> Bezpłatny bagaż
            podręczny (40x30x20) w kabinie, umieszczony
            pod fotelem</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-globe travel-option__conditions-list-icon"></i> Odprawa online do 2 dni przed
            odlotem</li>
        </ul>
        <p class="class__price">{{ basicPrice }} {{ currencyChosen }}</p>
      </div>
      <div class="travel-option__additional">
        <p>Zmiana rezerwacji za dopłatą</p>
        <p>Brak możliwości zwrotu biletu</p>
      </div>
      <button class="travel-option__btn" (click)="saveTravelOption(basic.id)">Wybierz</button>
    </div>
    <div class="travel-option" #plus id="plus">
      <h2 class="travel-option__title">Plus</h2>
      <div class="travel-option__conditions">
        <ul class="travel-option__conditions-list">
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-shopping-bag travel-option__conditions-list-icon"></i> Bezpłatny bagaż
            podręczny (40x30x20) w kabinie, umieszczony
            pod fotelem</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-suitcase-rolling travel-option__conditions-list-icon"></i> Podręczna walizka na
            kółkach (55x40x23) w kabinie</li>
          <li class="travel-option__conditions-list-item"> <i
              class="fas fa-luggage-cart travel-option__conditions-list-icon"></i>20-kg bagaż rejestrowany
          </li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-map-pin travel-option__conditions-list-icon"></i> Bezpłatny wybór miejsc</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-medal travel-option__conditions-list-icon"></i> Pierwszeństwo wejścia na pokład
          </li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-globe travel-option__conditions-list-icon"></i> Odprawa online do 30 dni przed
            odlotem</li>
        </ul>
        <p class="class__price">{{ plusPrice }} {{ currencyChosen }}</p>
      </div>
      <div class="travel-option__additional">
        <p>Zmiana rezerwacji za dopłatą</p>
        <p>Brak możliwości zwrotu biletu</p>
      </div>
      <button class="travel-option__btn" (click)="saveTravelOption(plus.id)">Wybierz</button>
    </div>
    <div class="travel-option" #premium id="premium">
      <h2 class="travel-option__title">Premium</h2>
      <div class="travel-option__conditions">
        <ul class="travel-option__conditions-list">
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-shopping-bag travel-option__conditions-list-icon"></i> Bezpłatny bagaż
            podręczny (40x30x20) w kabinie, umieszczony
            pod fotelem</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-suitcase-rolling travel-option__conditions-list-icon"></i> Podręczna walizka na
            kółkach (55x40x23) w kabinie</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-luggage-cart travel-option__conditions-list-icon"></i> 32-kg bagaż rejestrowany
          </li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-map-pin travel-option__conditions-list-icon"></i> Bezpłatny wybór miejsc</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-info-circle travel-option__conditions-list-icon"></i> Informacje o locie</li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-medal travel-option__conditions-list-icon"></i> Pierwszeństwo wejścia na pokład
          </li>
          <li class="travel-option__conditions-list-item"><i
              class="fas fa-check-circle travel-option__conditions-list-icon"></i> Automatyczna odprawa</li>
        </ul>
        <p class="class__price">{{ premiumPrice }} {{ currencyChosen }}</p>
      </div>
      <div class="travel-option__additional">
        <p>Darmowa zmiana rezerwacji</p>
        <p>Zwrot biletu z odliczeniem opłat</p>
      </div>
      <button class="travel-option__btn" (click)="saveTravelOption(premium.id)">Wybierz</button>
    </div>
  </div>
  <!-- Koniec taryf -->

  <!-- Usługi dodatkowe -->
  <h2 class="deatils-section-title">Dodatkowy bagaż</h2>

  <div class="luggage-wrapper">
    <div class="luggage-wrapper__item">
      <p class="luggage-name">do 10 kg</p>
      <div class="luggage-wrapper__counter">
        <button (click)="lessLuggage10()" class="minusPlusButton">-</button>
        <p class="luggage-counter" id="luggage-10kg">{{ luggage10kg }}</p>
        <button (click)="moreLuggage10()" class="minusPlusButton">+</button>
      </div>
    </div>
    <div class="luggage-wrapper__item">
      <p class="luggage-name">do 20 kg</p>
      <div class="luggage-wrapper__counter">
        <button (click)="lessLuggage20()" class="minusPlusButton">-</button>
        <p class="luggage-counter" id="luggage-20kg">{{ luggage20kg }}</p>
        <button (click)="moreLuggage20()" class="minusPlusButton">+</button>
      </div>
    </div>
    <div class="luggage-wrapper__item">
      <p class="luggage-name">do 32 kg</p>
      <div class="luggage-wrapper__counter">
        <button (click)="lessLuggage32()" class="minusPlusButton">-</button>
        <p class="luggage-counter" id="luggage-32kg">{{ luggage32kg }}</p>
        <button (click)="moreLuggage32()" class="minusPlusButton">+</button>
      </div>
    </div>
  </div>
  <!-- Koniec usług dodatkowych -->


  <a routerLink="/login-page"><button class="btn-summarybox" (click)="saveLuggage()" id="button" disabled>Kontynuuj
      🡺</button></a>
</div>
<app-summary-box></app-summary-box>

<router-outlet></router-outlet>