<app-navigation-bar></app-navigation-bar>
<div class="details-page-wrapper">
  <h1 class="page-title">Twój lot</h1>
  <!-- ✈ -->
  <!-- Informacje o locie -->
  <div class="flight-information-wrapper">
    <div class="flight-information">
      <div class="flight-information__details">
        <h2> {{ originCity }} </h2>
        <p>{{ startDate }}</p>
        <p>19:30</p>
      </div>
      <div class="arrow-symbol">⟶</div>
      <div class="flight-information__details">
        <h2>{{ destinationCity }}</h2>
        <p>55 minut</p>
        <p>20:25</p>
      </div>
    </div>
    <div class="flight-information">
      <div class="flight-information__details">
        <h2>{{ destinationCity }}</h2>
        <p>{{ endDate }}</p>
        <p>10:45</p>
      </div>
      <div class="arrow-symbol">⟶</div>
      <div class="flight-information__details">
        <h2> {{ originCity }} </h2>
        <p>55 minut</p>
        <p>12:15</p>
      </div>
    </div>
  </div>

  <!-- Taryfy -->
  <h2 class="deatils-section-title">Wybierz wariant podróży</h2>
  <div class="wrapper">
    <div class="travel-option" #basic id="basic">
      <h2>Basic</h2>
      <div class="travel-option__conditions">
        <ul>
          <li>Bezpłatny bagaż podręczny (40x30x20) w kabinie, umieszczony pod fotelem</li>
          <li>Odprawa online do 2 dni przed odlotem</li>
        </ul>
      </div>
      <div>
        <p>Zmiana rezerwacji za dopłatą</p>
        <p>Brak możliwości zwrotu biletu</p>
      </div>
      <button class="travel-option__btn" (click)="saveTravelOption(basic.id)">Wybierz</button>
    </div>
    <div class="travel-option" #plus id="plus">
      <h2>Plus</h2>
      <div class="travel-option__conditions">
        <ul>
          <li>Bezpłatny bagaż podręczny (40x30x20) w kabinie, umieszczony pod fotelem</li>
          <li>Podręczna walizka na kółkach (55x40x23) w kabinie</li>
          <li>20-kg bagaż rejestrowany</li>
          <li>Bezpłatny wybór miejsc</li>
          <li>Pierwszeństwo wejścia na pokład</li>
          <li>Odprawa online do 30 dni przed odlotem</li>
        </ul>
      </div>
      <div>
        <p>Zmiana rezerwacji za dopłatą</p>
        <p>Brak możliwości zwrotu biletu</p>
      </div>
      <button class="travel-option__btn" (click)="saveTravelOption(plus.id)">Wybierz</button>
    </div>
    <div class="travel-option" #premium id="premium">
      <h2>Premium</h2>
      <div class="travel-option__conditions">
        <ul>
          <li>Bezpłatny bagaż podręczny (40x30x20) w kabinie, umieszczony pod fotelem</li>
          <li>Podręczna walizka na kółkach (55x40x23) w kabinie</li>
          <li>32-kg bagaż rejestrowany</li>
          <li>Bezpłatny wybór miejsc</li>
          <li>Informacje o locie</li>
          <li>Pierwszeństwo wejścia na pokład</li>
          <li>Automatyczna odprawa</li>
        </ul>
      </div>
      <div>
        <p>Darmowa zmiana rezerwacji</p>
        <p>Zwrot biletu z odliczeniem opłat</p>
      </div>
      <button class="travel-option__btn" (click)="saveTravelOption(premium.id)">Wybierz</button>
    </div>
  </div>
  <!-- Koniec taryf -->

  <!-- Klasy -->
  <h2 class="deatils-section-title">Wybierz wariant podróży</h2>
  <div class="class wrapper">
    <div class="class__item" #economy id="economy">
      <h3>Economy</h3>
      <button class="class__btn" (click)="saveClass(economy.id)">Wybierz</button>
    </div>
    <div class="class__item" #premiumeconomy id="premiumeconomy">
      <h3>Premium economy</h3>
      <button class="class__btn" (click)="saveClass(premiumeconomy.id)">Wybierz</button>
    </div>
    <div class="class__item" #business id="business">
      <h3>Business</h3>
      <button class="class__btn" (click)="saveClass(business.id)">Wybierz</button>
    </div>
  </div>
  <!-- Koniec klas -->

  <!-- Usługi dodatkowe -->
  <h2 class="deatils-section-title">Dodatkowy bagaż</h2>
  <div class="luggage-wrapper">
    <div class="luggage-wrapper__item">
      <p>do 10 kg</p>
      <div class="luggage-wrapper__counter">
        <button (click)="lessLuggage10()">-</button>
        <p class="luggage-counter" id="luggage-10kg">{{ luggage10kg }}</p>
        <button (click)="moreLuggage10()">+</button>
      </div>
    </div>
    <div class="luggage-wrapper__item">
      <p>do 20 kg</p>
      <div class="luggage-wrapper__counter">
        <button (click)="lessLuggage20()">-</button>
        <p class="luggage-counter" id="luggage-20kg">{{ luggage20kg }}</p>
        <button (click)="moreLuggage20()">+</button>
      </div>
    </div>
    <div class="luggage-wrapper__item">
      <p>do 32 kg</p>
      <div class="luggage-wrapper__counter">
        <button (click)="lessLuggage32()">-</button>
        <p class="luggage-counter" id="luggage-32kg">{{ luggage32kg }}</p>
        <button (click)="moreLuggage32()">+</button>
      </div>
    </div>
  </div>
  <!-- Koniec usług dodatkowych -->


  <a routerLink="/login-page"><button class="btn-summarybox" (click)="saveLuggage()" id="button" disabled>Kontynuuj
      🡺</button></a>
</div>
<app-summary-box></app-summary-box>

<router-outlet></router-outlet>