.summary-box {
  width: 20%;
  height: 100vh;
  background-color: #ded;
  position: fixed;
  top: 10%;
  right: 0;
  padding: 20px;
}

.currency-container {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}

// Gotowe

.closed {
  display: none;
}
