<div class="summary-box__unfold" (click)="showDetails()"><i class="fas fa-arrow-circle-left"></i></div>
<div class="summary-box">
  <h2 class="summary-box__title">Twoja rezerwacja</h2>
  <div class="summary-box__container">
    <p class="summary-box__date"><i class="fas fa-plane"></i>{{ startDate }}</p>
    <p class="summary-box__hour-city">{{ startTimeThere }} {{ originCity }}</p>
    <p class="summary-box__hour-city">{{ endTimeThere }} {{ destinationCity }}</p>
  </div>
  <div class="summary-box__container">
    <p class="summary-box__date"><i class="fas fa-plane second-plane"></i>{{ endDate }}</p>
    <p class="summary-box__hour-city">{{ startTimeBack }} {{ destinationCity }}</p>
    <p class="summary-box__hour-city">{{ endTimeBack }} {{ originCity }}</p>
  </div>
  <div class="summary-box__container closed" id="passengersField">
    <p class="summary-box__label"><i class="fas fa-users"></i> Liczba pasażerów: {{ total }}</p>
    <p>{{ adultsNumber }} x Dorosły {{ adultsPriceTotal }}</p>
    <p>{{ childrenNumber }} x Dziecko {{ childrenPriceTotal }}</p>
    <p>{{ babiesNumber }} x Niemowlę {{ babiesPriceTotal }}</p>
  </div>
  <div class="summary-box__container closed" id="informationField">
    <p class="summary-box__label"><i class="fas fa-suitcase"></i> Dodatkowy bagaż</p>
    <p>{{ luggage10 }} x bagaż do 10 kg</p>
    <p>{{ luggage20 }} x bagaż do 20 kg</p>
    <p>{{ luggage32 }} x bagaż do 32 kg</p>
    <p>{{ additionalLuggagePrice }}</p>
  </div>
  <div class="summary-box__container closed" id="totalField">
    <p>DO ZAPŁATY</p>
    <p>{{ totalPrice }}</p>
    <p id="currencyField">PLN</p>
    <p> <small> Cena zawiera podatki i inne opłaty </small></p>
  </div>
</div>

<div class="pop-up" id="popUp">
  <div class="pop-up__inside">
    <div class="pop-up__close" (click)="hidePopup()"><i class="fas fa-times"></i></div>
    <h2 class="pop-up__title">Sesja wygasła</h2>
    <div class="pop-up__wrapper">
      <i class="far fa-clock pop-up__icon"></i>
      <p class="pop-up__text">Z powodu długiej bezczynności na stronie nastąpi wylogowanie. Możesz dalej kontynuować
        bieżącą rezerwację lub rozpocząć nową.</p>
    </div>
    <button class="pop-up__button" (click)="hidePopup()">Kontynuuj rezerwację</button>
    <a routerLink="/main-page" class="pop-up__back">Rozpocznij nową rezerwację</a>
  </div>
</div>


<router-outlet></router-outlet>